<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1018505522453-p9h9885b38aoekra87bpj7cl8r58gt7r.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1018505522453-p9h9885b38aoekra87bpj7cl8r58gt7r</string>
	<key>API_KEY</key>
	<string>AIzaSyC9hz4uRhc9m-S4ZyAyLCybTTQ50kIZFJw</string>
	<key>GCM_SENDER_ID</key>
	<string>1018505522453</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.Moonift.MultipleProjects</string>
	<key>PROJECT_ID</key>
	<string>remoteconfigsampleios</string>
	<key>STORAGE_BUCKET</key>
	<string>remoteconfigsampleios.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1018505522453:ios:1821e3122a2aeabf290d1c</string>
	<key>DATABASE_URL</key>
	<string>https://remoteconfigsampleios.firebaseio.com</string>
</dict>
</plist>